@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";


footer {
  size: 2px;
  background-color: grey;
}



* {
    box-sizing: border-box;
    padding: 20;
    margin: 35;
}
body {
    background-color: grey;
   
}

header {
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      
}

.hero p {
  color: rgb(96, 96, 226);
  font-family: Centry Gothic, sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
}

/* header nav {
    margin: 12px 0;
    font-family: Century Gothic, sans-serif;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* header nav a {
     text-decoration: none;
     padding: 7px 12px;
     margin-right: 8px;
 } */
 
.my-image {
    display: flex;
    justify-content: right;
    height: 85px;
}

.get-in-touch h3 {
  color:mediumaquamarine;
  font-family: Century Gothic, sans-serif;
  font-style: italic;
  flex-direction: row;
  justify-content: left;
}

.get-in-touch p {
  margin: 12px 0;
    font-family: Century Gothic, sans-serif;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.my-info h3 {
    text-align-last: left;
    color:mediumaquamarine;
    font-family: Century Gothic, sans-serif;
    font-style: italic;
}

p {
    font-family: Century Gothic, sans-serif;
}

.my-info p {
    font-family: Century Gothic, sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 50px 0 80px 0;
    }

.row-projects {
    border: 10px solid;
    border-radius: 10px;
    background-color: gray;
    color: rgb(96, 96, 226);
    padding: 50px 78px;
    font-size: 20px;
} 

.row-projects a {
    color: mediumaquamarine;
    text-decoration: none;
}    

.column {
    float: left;
    width: 33.33%;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 45px 0;
}

.projects {
    border: 5px solid;
    border-radius: 10px;
    background-color: gray;
    color: rgb(96, 96, 226);
    padding: 20px 38px;
    font-size: 18px;
    }

.projects a {
    color: mediumaquamarine;
    text-decoration: none;
}    

footer p {
    font-size: 10px;
}

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
      width: 100%;
    }
}
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .h3 {
      flex: 1 100%;
      text-align: center;
    }
  
   .me-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
 }
  
  @media screen and (max-width: 575px) {
    .column {
      width: 100%;
    }
}
